# Common gradle ignores.
gradle/wrapper/gradle-wrapper.properties
.gradle/
.idea/

# Build output directories.
build/
out/

# Idea files.
*.iml

# Config and storage files created at run-time.
config.yml
data.db.wal.*
data.db

# Logging directory.
logs/